
  
#container__menu--event{
    width: 80%;
    margin: auto;
    //@include flexbox;
    @include box-shadow;
    margin-bottom: 10vh;
    line-height: 2;
    font-family: 'Kaushan Script', cursive;
}

#event h3{
    background: linear-gradient(90deg, #5ea758, #d0fea2);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3rem;
}
#container__menu--event span{
    float: right;
}    


