
#container__menu--ledelicedespapilles{
    width: 80%;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    // @include flexbox;
    @include box-shadow;
    margin-bottom: 10vh;
    background: #f9f9f9;
    line-height: 2;
}


#ledelicedespapilles h3{
    background: linear-gradient(#1b46e2, #83a3f0);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3rem;
}

.ledelicedespapilles--flex span{
    float: right;
}
