@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/la-note-enchantee',
  'pages/le-chic-a-la-francaise',
  'pages/le-delice-des-papilles',
  'pages/la-palette-du-gout',
  'pages/mentions-legales';


// 7. Themes
@import
  'themes/default';
