/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

$colors:(
  primary: #0a8bbe,
  secondary: rgb(224, 180, 59),
  background: #000000,
  accent: aquamarine
);

$font-size: 16px;